body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin: 0px;
    padding: 0px;
    background: #bb470b;
    color: silver;
    max-width: 1200px;
}

a {
    color: silver;
}

a:hover {
    color: darkblue;
    background: silver;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
